.product-imagem{
    object-fit: contain;
    height: 300px;
    width: 100%;
    display: block;
}

#btn_estampas{
    margin-bottom: 1rem;
}

#img_encomenda{
    margin-right: 10px;
    
    width: 45%;
}

.summary-total{
    border-bottom: 0px;
    margin-bottom:0px;
}

#btn_search{
    height: fit-content;
    margin-bottom: 10px;
    width: 100px;
}

#input_search{
    width: 600px;
}

#search_categoria{
    width: 200px;    
    margin-bottom: 15px;
}

