#estampa{
	object-fit: contain;
	position:absolute;
      top: 40px;
      left: 35px;
      height: 80px;
      width: 80px;
}

#shirt{
	width: 150px;
	height: 150px;

}

.img{
	margin-right: 20px;
}

#estampa-encomenda{
position: relative;
	 top: 30px;
     left: 31px;
     height: 60px;
      width: 60px;
}

#shirt-encomenda{
margin-top: -50px;
    left: 20px;
    width: 120px;
	height: 120px;


}

#details-encomenda{
	
	margin-right: 30px;
}